<h1>Listing visits</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Store</th>
      <th>Visitor</th>
      <th>Days since</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to visit.visitdate.strftime("%d.%m.%Y, %A"), visit%></td>
        <td><%= link_to visit.store.to_s, visit.store %></td>
        <td><%= link_to visit.user.to_s, visit.user %></td>
        <td><%= visit.days_since %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Destroy', visit, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path, class: "btn btn-md btn-success"  %>
