<p id="notice"><%= notice %></p>

<p>
  <strong>Visitation date:</strong>
  <%= @visit.visitdate %>, <%= "#{@visit.days_since} " "#{"day".pluralize(@visit.days_since)}" "#{" ago"}"%>
</p>


<p>
  <strong>User:</strong>
  <%= @visit.user.to_s %>
</p>



<p>
  <strong>Store:</strong>
  <%= @visit.store.to_s %>
  <%= %>
</p>

<p>
  <strong>Note:</strong>
  <%= @visit.note %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
