<h1>Listing stores</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Threshold</th>
      <th>Total visits</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store, store, "data-no-turbolink" => true %></td>
        <td><%= store.full_street_address %></td>
        <td><%= store.contact %></td>
        <td><%= store.threshold %></td>
        <td><%= store.visits.count %></td>
        <td><%= link_to 'Edit', edit_store_path(store), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path, class: "btn btn-success"%>
