<h1>Listing users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Real name</th>
      <th>E-mail</th>
      <th>Subscribed</th>
      <th>Visits</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username.to_s, user %></td>
        <td><%= user.realname %></td>
        <td><%= user.email %></td>
        <td><%= user.subscribed %></td>
        <td><%= user.visits.count %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Destroy', user, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-md btn-success"  %>
