<p id="notice"><%= notice %></p>


<div class="row">
	<div class="col-md-6">

<p>
  <h1><%= @user.username %></h1>
  
</p>
<p>
  <h3>Realname:</h3>
  <%= @user.realname %>
</p>

<p>
  <h3>E-mail:</h3>
  <%= @user.email %><br><br>
  <strong>Subscribed:</strong>
  <%= @user.subscribed%>
</p>
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default"%> 

	</div>
	<br>
	<div class="col-md-6"><%if @user.visits.empty? %>


	<strong>No visits yet!</strong>
<% else %>
	<strong>User visits</strong>
	<ul class="list-group" >
	<% @user.visits.each do |visit| %>
	<li class="list-group-item"><%= link_to visit, visit %></li>
	<% end %>
<% end %>
<br>
</div>
</div>


