
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First name" %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label "Last name" %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <% if @contact.new_record? %>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.select :company_id, options_from_collection_for_select(@companies, :id, :to_s, selected: 0) %>
  </div>
<% end %>

<% if not @contact.new_record? %>
  <div class="field">
    <%= f.label :store_id %><br>
    <%= f.select :store_id, options_from_collection_for_select(@contact.company.stores, :id, :to_s, selected: 0) %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit class: "btn btn-md btn-primary"%>
  </div>
<% end %>

