<p id="notice"><%= notice %></p>

<h1> <%= @contact.to_s %></h1>

<p>
  <h4>Phone:</h4>
  <%= @contact.phone %>
</p>

<p>
  <h4>Email:</h4>
  <%= @contact.email %>
</p>

<p>
  <h4>Company:</h4>
  <%= @contact.company %>
</p>

<p>

  <% if @contact.store.nil? %>
  <h4>No assigned to a store yet!</h4>
  <% else %>
  <h4>Store:</h4>
  <%= @contact.store %>
  <% end %>
  
</p>

<%= link_to 'Edit', edit_contact_path(@contact)  , class: "btn btn-default" %>