<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= @company.contact.nil? ? "No primary contact set" : "Primary contact" %></strong>
  <%= @company.contact %>
</p>

<% if @company.contacts.empty? %>
	<strong>No contacts yet!</strong>
<% else %>
	<strong>All contacts</strong>
<ul class="list-group" style="width:20%">
	<% @company.contacts.each do |contact| %>
	<li class="list-group-item"><%= link_to contact, contact_path(contact.id) %></li>
<% end %>
<% end %>

</ul>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
