<div class="row">
	<div class="col-md-6">

<p>
  <h1><%= @company.name %></h1>
  
</p>

<p>
  <h3><%= @company.contact.nil? ? "No primary contact set" : "Primary contact" %></h3>
  <%= link_to @company.contact.to_s, @company.contact %>
</p>

<% if @company.contacts.empty? %>
	<strong>No contacts yet!</strong><br><br>
<% else %>
	<strong>All contacts</strong>
<ul class="list-group" style="width:20%">
	<% @company.contacts.each do |contact| %>
	<li class="list-group-item"><%= link_to contact, contact_path(contact.id) %></li>
<% end %>
<% end %>

</ul>


<%= link_to 'Edit', edit_company_path(@company)  , class: "btn btn-default" %> 


	</div><br>
	<div class="col-md-6">
<% if @company.stores.empty? %>
		<strong>No stores yet!</strong>
<% else %>
	<strong>Stores:</strong>
	<ul class="list-group" >
	<% @company.stores.each do |store| %>
	<li class="list-group-item"><%=  link_to "#{store}", store, "data-no-turbolink" => true %></li>
	<% end %>
<% end %>
<br>
	</div>
</div>
